{% extends "base.html" %}

{% block content %}

<center>
    <form class="form-busca-pedido" method = "POST">
        {% csrf_token %}
        <div class="form-group">
			<label class="form-lbl"  for="id">Número do pedido:</label><br>
			{{ form.numero }}
		</div>
        <div class="form-group">
			<label class="form-lbl" for="id_nome">Seu nome:</label><br>
			{{ form.nome_cliente }}
		</div>
		<div class="form-group">
			<label class="form-lbl" for="id_endereco">Endereço:</label><br>
			{{ form.endereco }}
		</div>

        <button type="submit" class="btn-ok">Buscar pedido</button>
    </form>
</center>
{% endblock content %}