{% extends "base.html" %}

{% block title %}Pedido Concluído{% endblock title %}

{% block content %}
<center>
<h1>Pedido Concluído!</h1>
<p>Id do pedido: {{ pedido.id }} </p>
<p>Nome: {{ pedido.nome_cliente }}</p>
<p>Endereço: {{ pedido.endereco }}</p>
<p>Borda: {{ pedido.borda }}</p>
<p>Sabor 1: {{ pedido.pizza1 }}</p>
{% if pedido.pizza2 %}
<p>Sabor 2: {{ pedido.pizza2 }}</p>
{% endif %}
<p>Preço Total: R$ {{ pedido.preco|floatformat:2 }}</p>
<p>Situação do pedido: {{ pedido.status }}
</center>
{% endblock content %}