{% extends "base.html" %}

{% block title %}Pedido Concluído{% endblock title %}

{% block content %}
<div class="pedido-concluido">
    <h1>Pedido</h1>
    <p>Para rastrear o pedido, por gentileza guarde o ID do pedido, seu nome e seu endereço.</p>
    <p>Id do pedido: {{ pedido.id }} </p>
    <p>Nome: {{ pedido.nome_cliente }}</p>
    <p>Endereço: {{ pedido.endereco }}</p>
    <p>Borda: {{ pedido.borda }}</p>
    <p>Sabor 1: {{ pedido.pizza1 }}</p>
    {% if pedido.pizza2 %}
    <p>Sabor 2: {{ pedido.pizza2 }}</p>
    {% endif %}
    <p class="preco-total">Preço Total: R$ {{ pedido.preco|floatformat:2 }}</p>
    <p class="situacao">Situação do pedido: {{ pedido.status }}</p>
</div>
{% endblock content %}
